[2020-05-05 09:37] eproxus opened #1 "Build fails on macOS 10.15"
Building fails on macOS 10.15.4 with the following error:

[code]

([Full log](https://gist.github.com/eproxus/b10786e6e460e8005101abe01689c0c9))

* macOS 10.15.4
* Command Line Tools for Xcode 11.4.1 (`xcode-select --version` yields `2373`)
* `dtc` 1.6.0 (installed via Homebrew)

[2020-05-05 11:42] c-mauderer commented on #1
Seems like the cpp is a different one than mine. What is your output of `cpp --version -v`?

Does it work if you replace

[code]
by
[code]
in the `Makefile`?

[2020-05-05 12:05] eproxus commented on #1
[code]

If I run `make fdt` with the changed line it seems to work and the output is:

[code]

After that, I can run `make bsp.mk` and `make libgrisp` which seems to work. But I get another error on `make barebox`:

[code]

[2020-05-05 12:20] eproxus commented on #1
Since the last error is regarding to `nproc` which doesn't exist on macOS, I tried replacing it with:

[code]

That yields the following error:

[code]

Do we really need the `-j` flag here? The `make` manpage on macOS says:

[2020-05-05 13:05] c-mauderer commented on #1
Regarding the device tree: Do you want to add that as a patch or should I push one?

Regarding the barebox: Adding the `-j` option should make the build **a lot** faster but it's not really necessary. But it is interesting that you only have a problem on barebox with it. It seems for the BSP your `NUMCORE` alternative worked well?

It seems more likely that the build steps for barebox aren't corre

[2020-05-05 13:06] eproxus commented on #1
With the added line I get:

[code]

[2020-05-05 13:08] eproxus commented on #1
Hmm, yes, regarding `make` I interpreted the manpage wrong (assumed it ran max jobs in parallel by default). I think we should have it, but we need an OS switch in the variable. I'll make PRs for the `$CPP` fix and the `-j` flag.

[2020-05-05 13:08] c-mauderer commented on #1
The added command isn't executed. Can you check whether you added it at the right location?

[2020-05-05 14:34] eproxus commented on #1
Sorry, pasted the wrong output. Here's the correct one:
[code]

[2020-05-05 14:56] c-mauderer commented on #1
Hm. Odd. If I wouldn't be wary of my build environment I would say that it sounds like a bug in the bareboot build system.

Can you try to create just a default config. That should be

* got to barebox directory
[code]
* clean up: (**MAKE REALLY SURE YOU ARE IN THE RIGHT DIRECTORY BEFORE YOU EXECUTE THIS COMMAND**)
[code]
* do a
[code]
* You should get a barebox configuration screen. Just select E

[2020-05-05 14:59] eproxus commented on #1
Perhaps this explains it?

[code]

Didn't see that error in the build log from `make install` though...

[2020-05-05 15:05] c-mauderer commented on #1
OK. Should have said use `make alldefconfig`. menuconfig needs ncurses.

[2020-05-05 15:07] eproxus commented on #1
Similar error:
[code]

[2020-05-05 15:10] c-mauderer commented on #1
In that case maybe we should raise it upstream?

https://barebox.org/

Although the release I used isn't far behind: Maybe you can try whether the `make alldefconfig` works on the barebox master branch there?

[2020-05-05 15:12] c-mauderer commented on #1
PS: The config system seems to be basically the Linux config system. Did you ever try to build a Linux kernel, an U-Boot or an OpenWRT on MacOS? All use this config system (most likely in slightly different versions).

[2020-05-06 08:50] eproxus commented on #1
@c-mauderer Does Barebox even build on macOS? Can't find much about it when searching the web. No, I haven't tried building any Linux kernel or other system on macOS.

[2020-05-06 08:59] c-mauderer commented on #1
Seems that it doesn't. The `make alldefconfig` didn't work.

Yes, Barebox is a bit of an exotic one. I would have preferred U-Boot but the manufacturer of the i.MX module offered only a Barebox. And U-Boot didn't offer that many advantages except being more well known.

Any other Kconfig based stuff like U-Boot, Buildroot, Busybox, OpenWRT, ...?

[2020-05-06 09:01] eproxus commented on #1
@c-mauderer Looking at those examples, it seems the common answer on the web is "just don't". Linux and U-Boot offers no official support for building on macOS. OpenWRT claims to support FreeBSD 5.0 (from 2003!) so I would count that out as well.

Perhaps we should go with a similar method to the old toolchain, so the boot loader has to be built on Linux and checked in to the repo as a binary?

[2020-05-06 09:02] eproxus commented on #1
Alternatively we create some kind of Docker-based build system. That would work nicely on macOS and is an easier requirement to satisfy that making your own Linux VM.

[2020-05-06 09:05] c-mauderer commented on #1
I have no problem if the bootloader is only build on Linux. It shouldn't change very often. If everything goes well it will never change after the initial release. I just wanted to have the commands and config there in the repo.
So the solution for now could be to remove it from the default build steps and add a note in the README?

[2020-05-06 09:06] c-mauderer commented on #1
Or an error if the system is not Linux for the `make barebox` target.

[2020-05-06 09:08] eproxus commented on #1
Both options, I think 👍 I will add them to my PR.

[2020-05-06 13:19] #1 closed

[2020-05-06 13:33] eproxus opened #4 "What compiler and linker flags should be used?"
While compiling Erlang with the old GRiSP 1 toolchain we used the following flags:

[code]

These no longer work (obviously) for this toolchain. What flags should be used?

[2020-05-06 15:01] c-mauderer commented on #4
I assume that you extracted these somewhere for GRiSP1 and most likely added some necessary for erlang. I haven't seen these flags till now.

I assume that they are extracted from the files that are now in `rtems/5/make/custom/imx7.cfg` and the `imx7.mk` in the same directory.

[2020-05-06 15:54] eproxus commented on #4
Ah, thanks for the hint!

[2020-05-08 18:19] peerst opened #5 "Demo application doesn't build out of the box"
Seems not to be able to find the cross compiler:

[code]

One would assume looking at the Makefile that the compiler should be configured in the included mk file but apparently it doesn't

[2020-05-08 19:02] c-mauderer commented on #5
I have built it using the `make demo` from the root directory most of the time. I set the PATH there to include the binaries. But you are right: I would have expected that it works directly too. I'll try to take a look at it somewhen during next week.

[2020-05-08 19:32] dischoen opened #6 "prerequisite for make demo"
As requested during today's twitch meeting, I built the package with
- make install
- make demo

make demo failed with

`make[1]: mkimage: Command not found
make[1]: *** [Makefile:28: b-imx7/demo.zImage] Error 127
make[1]: Leaving directory '/home/dieter/projects/grisp/grisp2-rtems-toolchain/demo'
make: *** [Makefile:115: demo] Error 2
`

which I could  (on Ubuntu 18) easily fix by installing u-bo

[2020-05-08 21:13] peerst commented on #6
Cool thanks for the quick testing!

[2020-05-08 21:14] peerst commented on #5
Ah didn't know about `make demo` apparently there is more problems see #6

[2020-05-08 21:15] peerst commented on #5
But I should have RTFM ... its mentioned in the README

[2020-05-11 06:39] c-mauderer commented on #6
I was originally hoping that this could be replaced by an equivalent tool from barebox. But in another thread it became obvious that barebox can't be easily build on MacOS. So most likely u-boot-tools will be a prerequisite. The pull request for integrating a CI is already collecting dependencies for the README.

[2020-05-11 11:54] peerst commented on #6
What kind of weird image format is used here?  Apparently not raw and apparently not ELF.  Why can’t we just boot ELF?

[2020-05-11 12:09] c-mauderer commented on #6
The format is the one that is commonly used by U-Boot with the `bootm` command. Currently a "legacy image" is used. From the man page of mkimage:

That was the quickest approach: Just replace the original Linux-Image for the i.MX6 module by something compatible. I'm not sure what kind of other boot formats are supported by barebox.

[2020-05-11 12:12] c-mauderer commented on #6
bootm supports:
- ARM Linux zImage
- U-Boot uImage
- barebox images

See: https://barebox.org/doc/latest/user/booting-linux.html

[2020-05-13 14:22] eproxus commented on #6
This is fixed in #3 (11286f03ad9c92d57d0eb743c7e33ff8b2bbf288)

[2020-05-13 14:22] #6 closed

[2020-05-13 14:30] #4 closed

[2020-05-13 14:31] eproxus commented on #5
Is this still an issue?

[2020-05-13 14:35] c-mauderer commented on #5
From my point of view it should work. But there is a good workaround. So it currently has a very low priority for me except you need it.

[2020-05-13 14:36] eproxus commented on #5
@peerst ?

[2020-05-13 14:50] eproxus commented on #5
This is fixed in #3 (11286f03ad9c92d57d0eb743c7e33ff8b2bbf288).

[2020-05-13 14:50] #5 closed

[2020-05-15 16:53] peerst opened #7 "Ethernet interface in demo is not showing carrier"
After booting the demo program like in the README here it boot successfully but plugging in a active Ethernet cable (connected to switch) the interface is still showing "no carrier"

[code]

[2020-05-15 17:01] peerst opened #8 "LEDs not blinking in the demo"
After successfully booting the demo (we see the RTEMS shell) we would expect the LEDs to be blinking (following the code in demo).

[code]

Alas only one red led stays on like set in the bootloader

[2020-05-15 17:08] peerst opened #9 "Library inih missing from the toolchain"
While its no longer needed for the bootloader we also used it in configuring how we boot RTEMS + Erlang.

Since its the only library missing and used on every GRiSP system it would be most convenient of it would just keep coming with the toolchain.

We have our own fork of it, makes sense to keep using that:

https://github.com/grisp/inih

[2020-05-18 08:42] c-mauderer commented on #7
That's odd. I'm sure that it already worked in the past. I'll have a look.

Did you try a hotplug or was Ethernet connected from the start?

[2020-05-18 08:43] c-mauderer commented on #8
LED isn't implemented yet. The functions are currently empty. That's open work. I'll track it in this ticket.

[2020-05-18 11:14] peerst commented on #7
Hotplug, I’ll try the latter

[2020-05-18 14:30] eproxus commented on #7
I can get an IP from the bare box shell (without an SD card) using Internet sharing on my iMac. However, I can't figure out how to acquire an IP from the RTEMS shell (with and without Ethernet connected at boot).

[2020-05-18 14:35] c-mauderer commented on #7
There is a dhcp daemon running in the demo application. So if the link is detected correctly it should just spring into action and get an IP. But according to the output of peerst it seems that the link isn't detected yet:

[2020-05-18 14:38] eproxus commented on #7
This is the boot message for me:
[code]
And output of `ifconfig`:
[code]

[2020-05-18 14:41] c-mauderer commented on #7
There is no carrier too. I'll take a look at that. I'm only stuck with other topics on that BSP (like SPI and the USB driver performance). Is Ethernet currently a blocking point for you?

[2020-05-18 14:42] eproxus commented on #7
Not yet, since we're still working on getting Erlang to boot. But once Erlang is up networking is the next topic, and we plan to attack Ethernet first and wireless second.

[2020-05-18 14:46] c-mauderer commented on #7
OK. I'll try to give it a higher priority on my queue. I'll just have to be a bit careful because some of the other topics are blocking points for hardware tests that have to be done before the next hardware version. USB is one of them. I need a good USB performance so that I can test the WLAN antenna.

[2020-05-19 08:41] eproxus opened #11 "error: implicit declaration of function 'mallopt'; did you mean 'malloc'?"
Seems `mallopt` is missing somehow. I get this error when compiling the Erlang VM:
[code]
That file includes `malloc.h`. In our main file we include the following header files:
[code]

Is `mallopt` available in our RTEMS toolchain?

[2020-05-19 09:46] c-mauderer commented on #11
mallopt seems to be a Linux function. I didn't find it in Posix:

http://man7.org/linux/man-pages/man3/mallopt.3.html

It seems that newlib at least knows it. It's declared in malloc.h.

But to be honest: I never needed that function and I don't know whether we support it in RTEMS. It sounds like a lot of fine grained stuff about how an allocation is done could be controlled by the application. @s

[2020-05-19 10:03] sebhub commented on #11
This function is not supported by RTEMS.

[2020-05-19 10:17] eproxus commented on #11
:+1: Okay, thanks for the information. Then I'll have a look at why the Erlang build system detects it as available.

[2020-05-20 08:59] eproxus commented on #11
After some more digging our theory is that the configure script creates a test program with a main function that tries to call `mallopt`. When this compiles it is optimised away by the RTEMS compiler and the test is seen as successful.

Do you know if there is any way to control the compiler so that `main` functions are included (without having to "manually" edit the test program that configure ge

[2020-05-20 09:50] sebhub commented on #11
Could you please look into the configure log to check which program code is used for the check, is it only compiled or also linked, does it use the same compiler flags as used later to build the library objects?

[2020-05-20 10:07] peerst commented on #11
We did not succeed to extract the source code (its not included in config.log) but it is linked for sure (seeing it from the command line).

Hypothethis:  main() is not called and therefore removed by the linker so linking doesn't fail

We also tried linking rtemsdefaultconfig but that didn't make a difference.

Do you know a trick how we could provoke linking of main() from the command line (one

[2020-05-20 13:44] eproxus commented on #11
More digging and hacking exposed the failing program:

<details>
<summary><code>conftest.c</code></summary>

[code]

</details>

Compiled with the following command line:

[code]

This generated <details>
<summary><code>imx7.map</code></summary>

[code]

</details>

[2020-05-22 05:25] sebhub commented on #11
The problem is that this test is linked using -qnolinkcmds. This leads to:
[code]
The start.o provided by the BSP would start the dependency chain which would pull in the main() function of the test. In the current setup, the tests are ineffective and always pass regardless what is tested.

You have to use the linker command file provided by the BSP.

[2020-05-25 08:51] eproxus commented on #11
That fixed it, thanks! I think the `qnolinkcmds` was a leftover from the previous cross compilation flags we used.

[2020-05-25 08:51] #11 closed

[2020-05-25 09:07] eproxus opened #12 "RTEMS zlib redefines symbols globally"
The zlib implementation that comes with RTEMS seems to redefine a lot of symbols globally, causing compilation problems for software that uses symbols with the same name:

[code]

caused by this line in `external/rtems/cpukit/include/zlib.h`:
[code]

Is there a way to fix or workaround this?

[2020-05-25 09:15] peerst commented on #12
That happens here.

And apparently this header is included either in one of the default headers or in the Erlang runtime directly.  This macro messing is not nice.  First pollute the namespace, then to "fix" it mess up all kinds of symbols with macros.

[code]

[2020-05-25 09:17] peerst commented on #11
As a matter of fact we needed to pick another than the default linkcmd for the GRiSP1 tool chain: `-qnolinkcmds -T linkcmds.sdram` somehow the `-qnolinkcmds` was left when adapting to GRiSP2

[2020-05-25 09:21] peerst commented on #12
Since zlib is quite used in Erlang I fear its one of these uses that is picking up the RTEMS zlib.

https://github.com/erlang/otp/search?q=zlib.h&unscoped_q=zlib.h

[2020-05-25 09:33] eproxus commented on #11
@peerst Unfortunately using those flags results in the original error again.

[2020-05-25 11:11] peerst commented on #11
Sorry, that was a misunderstanding, just explained where -qnolinkcmds came from.  Grisp1 had multiple linkcmds and we couldn't use the default one for whatever reason.  This is not true for Grisp2

[2020-05-25 11:46] c-mauderer commented on #11
In GRiSP1 we had a board specific external SDRAM. That made it necessary to use a special linker command file. That's no longer true for GRiSP2.

[2020-05-25 11:48] #9 closed

[2020-05-25 11:55] c-mauderer commented on #12
I agree that this is not a really an optimal solution. But it's one offered by zlib itself. RTEMS is only using it. The original zconf.h had an `#ifdef Z_PREFIX` instead of the `#ifdef 1` in RTEMS.

RTEMS uses that since quite a long time. So I'm really surprised that it hasn't been a problem for GRiSP1. What changed?

[2020-05-25 16:14] sebhub commented on #12
I once tried to submit a patch to zlib, but this project is extremely conservative.

[2020-05-26 10:22] eproxus commented on #12
The only conclusion I can draw is that `Z_PREFIX` is somehow defined when running our RTEMS build. Erlang doesn't build at all with those symbols renamed. I can't figure out where and why this seems to be set though...

[2020-05-26 10:25] eproxus commented on #12
Grepping through the toolchain and my OTP build directory I find _no_ instances of that being set...

[2020-05-26 10:30] eproxus commented on #12
Hmm, the file at `external/rtems/cpukit/include/zconf.h` has this hardcoded set to `1` 😮

[2020-05-26 10:59] c-mauderer commented on #12
Like I said:

But that shouldn't make a difference. It had this hard coded value for the first GRiSP too. So I'm really curious why it didn't make a problem back then? What changed since then?

Like sebhub said: The defines are done in the upstream Zlib. I don't think that it would be a good idea to do something substantially different for RTEMS. Especially changing something that has been that lo

[2020-05-26 11:20] eproxus commented on #12
@c-mauderer Ah, missed that, sorry.

Agree about not changing it upstream. Perhaps the include order is different somehow now, and Erlang picked up its own `zlib.h` before...

[2020-05-26 11:22] c-mauderer commented on #12
Would adding the Z_PREFIX define help? Maybe Erlang adapts to it?

[2020-05-26 11:24] eproxus commented on #12
No, I discovered that Erlang isn't tested with `Z_PREFIX` set and doesn't work at all with it. :-(

[2020-05-26 13:09] c-mauderer commented on #7
Somehow I lost the PHY driver during some rebase. I pushed an update to a branch of libgrisp:

    https://github.com/grisp/libgrisp/tree/cm/GRiSP2-PHY

With that Ethernet should work. My grisp2-rtems-toolchain repo is currently in a bit of a work in progress state for the USB problems. Maybe one of you could try to pull in the commit from libgrisp and check whether it solves the Ethernet problem

[2020-05-27 06:21] sebhub commented on #12
It seems the trouble is cased by these defines:
[code]
This stuff makes no sense at all. One option is to disable this stuff with an #ifndef __rtems__.

[2020-05-27 07:55] peerst commented on #12
Yes its these defines.  And I agree it makes no sense.

Question is also why RTEMS needs them.

Are you suggestion to only have them on when RTEMS itself is compiled with the ifndef items?  But wouldn't we then get a zlib in RTEMS which have theses z_* names and see a header from Erlang without them and then just get a linker error because we are missing the normal lib functions?

[2020-05-27 07:56] peerst commented on #12
Oh you mean only the typedefs!

[2020-05-27 08:22] sebhub commented on #12
Yes, the typedefs and the structs. For the global functions the namespace makes sense.

[2020-05-29 18:08] peerst commented on #12
That actually worked for us: https://github.com/grisp/grisp2-rtems-toolchain/commit/343ab3aec5b45a3b9cabc7db8e5ecfb491a2aab2

And https://github.com/grisp/rtems/tree/peerst/zconf-fix

Hope I didn't mess up the submodules, not very experienced with them @c-mauderer please check if everything is ok.  N.B. The change in rtems is on the peers/zconf-fix branch feel free to merge it if its ok.

[2020-06-02 06:28] c-mauderer commented on #12
It's interesting that the patch works like that. It should be
[code]
instead of
[code]
It seems that the markdown formatting messed with @sebhub's suggestion. Can you try whether that works too?

Otherwise it should be fine (except maybe for the commit message style: For most git projects it's a 50 char subject line, one empty line and then a description wrapped at 72 chars).

We might get a merge

[2020-06-03 07:19] c-mauderer commented on #12
I've seen that you added it to master already. So I'll adapt my pull request instead.

[2020-06-03 07:20] peerst commented on #12
Caution: I did not rebuild rtems yet, should have done before pushing something but was in a hurry ;-)  So it might well be mine doesn't work in RTEMS

[2020-06-03 08:08] c-mauderer commented on #12
I'm still not sure about `rtems` vs `__rtems__` in the patch but that will be a problem as soon as it should be integrated upstream.

[2020-06-03 08:12] eproxus commented on #12
@c-mauderer What do you mean?

[2020-06-03 08:13] peerst commented on #12
I'm not sure either: I'd rather go with __rtems__

[2020-06-03 08:14] c-mauderer commented on #12
Like said above (when reviewing @peerst patch):

Normally these #ifdef are done with `__rtems__`.

[2020-06-03 08:15] eproxus commented on #12
@c-mauderer Are you saying just `rtems` doesn't exist and won't work?

[2020-06-03 08:19] c-mauderer commented on #12
It seems to work for you so it seems to exist. I wanted to say that the usual define to check for is `__rtems__`. That one is used throughout imported code in RTEMS core repository as well as all add ons like libbsd.

[2020-06-03 08:20] eproxus commented on #12
Got it, then we'll use `__rtems__` instead 👍

[2020-06-03 08:21] c-mauderer commented on #12
I'll just update the PR #13 branch again in the next few minutes and you can test it with that. If everything works well: Please just merge it.

[2020-06-03 08:31] peerst commented on #12
That might be a misconception: I hacked it in the header of the built toolchain (was doing it while live coding on Twitch so no time to rebuild the toolchain).  When building Erlang the important thing is that its *not* defined which it is also if it doesn't even exist.  But one needs to rebuild the toolchain with it and then Erlang and only then we know if it would really work.

[2020-06-03 08:40] c-mauderer commented on #12
You had an `#ifndef rtems`. So if it wouldn't have been defined, the file wouldn't have changed. But it changed something for you so it most likely is defined.

`__rtems__` is defined for sure. So `#ifndef __rtems__` removes code.

In that case you don't have to rebuild the whole tool chain but only the BSP and maybe some libs. The toolchain is only necessary if `external/rtems-source-builder` cha

[2020-06-03 08:47] c-mauderer commented on #12
I'm not sure why `rtems` worked. I did a check and it's not defined by the compiler. The compiler knows only `__rtems__`. So maybe from some header.
[code]
Anyway: Please check the PR #13 branch and - if it works - just click the merge button.

[2020-06-03 08:50] eproxus commented on #12
@c-mauderer Since it is an `ifndef` it might as well have been `#ifndef foobarbaz` and it would still have worked?

[2020-06-03 08:54] peerst commented on #12
I'm confused now:  is `__rtems__` only defined for building RTEMS itself or also when building our stuff?

[2020-06-03 08:55] peerst commented on #12
But then the #defines that disturb building Erlang would have been in and it would be as if we hadn't changed anything which didn't work

[2020-06-03 08:57] c-mauderer commented on #12
@eproxus and @peerst: `foobarbaz` is _not_ defined. So that code would throw an error:
[code]
The same is true for the types in the header. It was encapsulated with an `#infndef rtems` so if `rtems` wouldn't be defined somewhere the defines would still be there. Therefore I assume it had been defined somewhere. But it's not an official feature as far as I know and most likely only worked by chance

[2020-06-03 09:03] peerst commented on #12
I think `rtems` is a legacy define because it looked familiar to me from ancient times.  Of course `__rtems__` is much cleaner so it probably has been added later but `rtems` stayed for backwards compatibility

[2020-06-03 12:38] #7 closed

[2020-06-03 12:46] c-mauderer opened #14 "OpenOCD integration"
I'm working on the JTAG (hardware patch and software setup). @eproxus or @peerst: For GRiSP1 we have added a OpenOCD source package and build it with the build scripts.

- I assume that we should build OpenOCD in this repository again?
- OpenOCD hasn't had a release since November 2018. I think it would be a good idea to just pick the master development branch to get the best support for our contr

[2020-06-03 13:16] c-mauderer commented on #14
Building OpenOCD from the git repository will be a lot of trouble. It needs quite some more dependencies than the release versions. So I'll start with the release and only switch to the git HEAD if really necessary.

[2020-06-03 14:46] c-mauderer commented on #14
i.MX6UL (and family) support has been added after the release. So we need a development version. So the question is valid again: Should we clone the openocd repo or use the SF-repo as a submodule?

[2020-06-03 15:55] eproxus commented on #14
I would prefer to point to upstream unless we need any local modifications.

[2020-06-04 06:04] c-mauderer commented on #14
There are no modifications necessary. I'll let it point upstream. I'll create a pull request soon.

[2020-06-04 06:04] #14 closed

[2020-06-04 07:23] #8 closed

[2020-06-04 12:39] eproxus opened #16 "Error booting Erlang on board"
I am trying to adopt our Erlang initialisation code to GRiSP 2. I'm currently using this [`erl_main.c`](https://github.com/grisp/grisp/blob/grisp2/grisp/grisp2/sys/erl_main.c) file as our main file. However, when booting I get this error:

[code]

It seems to happen on this line [erl_main.c:442](https://github.com/grisp/grisp/blob/grisp2/grisp/grisp2/sys/erl_main.c#L442).

Any ideas about what the

[2020-06-04 12:51] c-mauderer commented on #16
`source=9` should be an exception. Maybe some wrong pointer access?

Do you have a debugger connected to the system (except the still not functional on board)? If yest it would be good if you could set a breakpoint to "_Terminate" and take a look at the backtrace.

[2020-06-04 12:52] eproxus commented on #16
No debugger. How do I do that?

[2020-06-04 12:56] c-mauderer commented on #16
Well in theory we have the FTDI as a JTAG debugger. But like said earlier: That part has a bug in the first prototypes and therefore doesn't work on the prototypes. I have patched it just yesterday on one board.

I don't assume that you have access to some other hardware debugger? Either commercial systems like Lauterbach or Segger. Alternative most stuff supported by OpenOCD should work too.

[2020-06-04 13:00] eproxus commented on #16
Unfortunately not. @peerst might.

[2020-06-04 13:04] c-mauderer commented on #16
OK. Then let's try the hard way: Analyzing the registers. Not really my favorite...

Your PC is at 0x80569830. Can you take a look at the instruction that is at that location in your application? Use a
[code]
and search for the address in the disassembled code (I hope you have compiled your application with `-g`, otherwise you won't get your high level code mixed into it).

[2020-06-04 13:56] eproxus commented on #16
Hmm, seems to be inside the `strtok_r` function:
[code]

So probably [here](https://github.com/grisp/grisp/blob/grisp2/grisp/grisp2/sys/erl_main.c#L396-L399) somewhere.

[2020-06-04 14:05] c-mauderer commented on #16
Where do you get your arguments from? I think strtok_r is allowed to change the string. So if your args are in some area marked as read only in the MMU, you might get that exception as soon as strtok_r tries to change the string.

[2020-06-04 14:18] eproxus commented on #16
Ah, that might be the case. Usually from the .ini file but since there was none it's taken from [here](https://github.com/grisp/grisp/blob/grisp2/grisp/grisp2/sys/erl_main.c#L150-L151):

[code]

[2020-06-04 14:31] c-mauderer commented on #16
Found an explanation:
https://stackoverflow.com/questions/1704407/what-is-the-difference-between-char-s-and-char-s

[2020-06-08 13:22] eproxus commented on #16
@c-mauderer Thanks for the pointers (pun intended). This was exactly the problem. Fixed in https://github.com/grisp/grisp/commit/245acb7ff43e78b97ad1280573664fe23f2ba527

[2020-06-08 13:22] #16 closed

[2020-06-08 13:46] c-mauderer commented on #16
OK. Great that it is solved.

[2020-06-09 09:36] eproxus commented on #12
@peerst Is this fixed with `__rtems__` now?

[2020-06-10 08:06] eproxus opened #18 "How to configure the boot loader from the SD card?"
Is it possible to tweak the boot loader via a configuration file on the SD-card somehow? E.g. point out a path to another `.zImage` file than the default `./zImage`? Can't find anything about configuration files related to Barebox...

[2020-06-10 08:32] eproxus commented on #18
Digging into this now, perhaps it can solve this: https://barebox.org/doc/latest/user/booting-linux.html#bootloader-spec

[2020-06-10 09:00] eproxus commented on #18
Ok, custom entries works with the following example in e.g. `/loader/entries/grisp.conf` on the SD-card:

[code]

However, this requires removing the default settings in `/env/boot/mmc` which are:

[code]

Those seem to override the medium `/loader/*` files. Can we remove these defaults or change them to be backup somehow?

[2020-06-10 09:03] eproxus commented on #18
Ok, custom entries works with the following example in e.g. `/loader/entries/grisp.conf` on the SD-card:

[code]

However, the default settings in `/env/boot/mmc` conflicts with this somehow:

[code]

If I create a differently name image (e.g. `/beam.zImage`) and create a corresponding config file as above, the default boot loader configuration fails to boot. Once at the barebox shell I can type `

[2020-06-10 09:37] c-mauderer commented on #18
I think you can change the boot order by changing `/env/init/bootsource`. Maybe with your configh you would have to adapt that too. But I have very few experience with barebox. I would have preffered an U-Boot but Phytec doesn't provide one for this module.

Also note: We already have a custom build. So if you want to change the defaults, it would be possible in the sources of the bootloader too.

[2020-06-10 09:50] eproxus commented on #18
Would it be possible to add the `mmc0` as a default before `mmc` to search the SD card first and then in case no loader specs are found, the default `zImage` from `mmc` would be used? Or is that a bad idea?

I'm not sure about the difference between `mmc` and `mmc0` in this case and why it works the way it does...

[2020-06-10 09:59] peerst commented on #18
To be taken into account have two mmc devices:  the eMMC and the SD card.

We should find a solution where the boot order requirements we might have with this extra complication is met.  Unfortunately there both priorities of the two mmc devices make sense in certain use cases:

eMMC higher than SD card:   we might not want to boot from a SD card which is used for data storage

SD card higher than

[2020-06-10 10:58] c-mauderer commented on #18
Note that the bootloader will always load from the primary medium. For the prototypes that's the NAND. For the new selected module it will be the eMMC on the module. For recovering a bootloader the serial download mode is necessary (or JTAG if someone finds out how to init the SDRAM via JTAG - I had no luck with this).

But assuming the bootloader on eMMC still works: You could think about using o

[2020-06-10 13:46] eproxus opened #19 "LED error when booting Erlang"
With the latest version of the toolchain I get the following error when trying to boot Erlang:
[code]

It seems to occur because of our call to `grisp_led_set1` or `grisp_led_set2`. Any ideas?

[2020-06-10 14:24] #19 closed, assigned to nobody

[2020-06-10 14:25] eproxus opened #20 "Possible to fallback to boot loader in case booting fails?"
Is it possible to fall back to the boot loader in case booting an image fails somehow? I.e. it returns a non-zero exit status?

[2020-06-10 14:34] #20 closed, assigned to nobody

[2020-06-10 16:30] peerst opened #21 "How can I access GPIOs"
First use case: accessing the LEDs without using grisp_led functions

[2020-06-11 09:29] c-mauderer commented on #21
I added a simple GPIO API to the BSP (see https://github.com/grisp/rtems/blob/grisp2-devel-20200603/bsps/arm/imx/include/bsp/imx-gpio.h). If you want to use that:

You can either search for a GPIO via the FDT like I did that for the LEDs and initialize the GPIO structures from that:
https://github.com/grisp/libgrisp/blob/master/src/led.c#L136

Alternatively you could initialize the structures by h

[2020-06-11 09:33] peerst commented on #21
So this is handled completely different from GRiSP 1 ?

I thought GRiSP 1 was using a GPIO HAL approach but apparently this is different for each BSP

Kind of weird architecture that we have portable driver lib calls for many things like I2C and SPI but GPIO is BSP dependent.

[2020-06-11 09:36] c-mauderer commented on #21
Yes, there is no (usable) uniform GPIO API in RTEMS and most BSPs do it different.

[2020-06-11 09:40] c-mauderer commented on #21
I think for GRiSP1 it was a generic API that has been provided by Atmel for the ATSAM. That library (libchip) was just imported into the BSP.

It's definitively something that is missing in RTEMS. No one had the time / budget / pressure to suggest, discuss and implement a good uniform API for GPIO yet.

[2020-06-11 09:44] peerst commented on #21
No problem for us since we have a kind of Erlang+C level BSP structure which allows different drivers for different architectures

Was just confused

[2020-06-24 15:01] eproxus opened #22 "Fatal error source=9 with non-existing PC address in objdump"
When just leaving Erlang running on the board for a couple of minutes I got the following error:
[code]

However, the PC `0x7efda85c` doesn't exist in the objdump generated by `arm-rtems5-objdump -dS _grisp/otp/22.3.3/install/erts-10.7.1/bin/beam > beam.objdump`.

Is there any other way to figure out where this error comes from?

[2020-07-01 05:07] c-mauderer commented on #22
I think the only good methods are either an external debugger or a patched board with a working JTAG or the next revision of the hardware.

[2020-07-01 07:30] #22 closed

[2020-07-08 09:31] c-mauderer commented on #12
I'm preparing a bunch of patches for RTEMS upstream. I would like to include the one from this issue too (in this form):

    https://github.com/grisp/rtems/commit/8452f2dddafa57a2e400c93dd9a788e0fa597836

Is that problem solved with the patch?

Especially @peerst: You originally authored the patch. I adapted it later to match the commit message style usually used in RTEMS. Is that OK for you? If

[2020-11-26 13:39] GalaxyGorilla commented on #18
@c-mauderer I'm currently playing around with Grisp2 (with EMMC) and your toolchain branch. As explained by @eproxus we use the FDT from a custom place and hence there is some special configuration for barebox (in `/loader/entries/grisp.conf`). I get this error here when I attempt to use an SD card filled with a grisp app.

[code]

I know you are not familiar with barebox, but does this ring a bel

[2020-11-26 13:58] c-mauderer commented on #18
I'm not really sure why the fdt "compatible" is checked during a boot command. I have seen that only during boot loader update where you could avoid it by executing the new boot loader from RAM before updating.

Anyway: There are two locations where the compatible string is set in the FDT:
1. In barebox itself: https://github.com/grisp/barebox/blob/e2d1530f2c5f4bf6fcf735480a511adc495f4630/arch/arm

[2020-11-26 15:28] GalaxyGorilla commented on #18
@c-mauderer I just tested with your fix and I can boot to an Erlang shell 👍

Thanks!

[2020-11-30 13:11] GalaxyGorilla commented on #18
@c-mauderer I'm currently trying to run an app within the emmc and was following your instructions from the README on your branch. However, with

[code]

I killed the bootloader, the board doesn't react anymore, just a red power light (I think). Any idea what happened here?

I'll try to recover the bootloader now following the README ...

[2020-11-30 13:15] c-mauderer commented on #18
How did you create the eMMC image? Did you remember to add the Boot loader? That would be the second dd command in
https://github.com/grisp/grisp2-rtems-toolchain/blob/cm/PCL-063-005/README.md#emmc-image

[2020-11-30 13:33] GalaxyGorilla commented on #18
Yea, very likely I did this wrong last week :(
On the good side, this way I also test the bootloader recovery in the README ;)).

[2020-11-30 13:37] peerst commented on #18
Hi Christian,

do I understand this right that the bootloader is together with the RTEMS image on the eMMC?

Is there a danger to brick a board when something goes wrong with this process?

Cheers,
-- Peer

[2020-11-30 13:52] c-mauderer commented on #18
Let me know if something does not work. I think I wrote the chapter in the README for the future series boards that will have some additional (unpopulated) jumpers. But if the bootloader from eMMC doesn't work, the board should fall back to a serial downloader anyway (at least I hope that).

With the eMMC on the module, we don't have a lot of other memories to boot from. Therefore the bootloader i

[2020-11-30 14:18] peerst commented on #18
Hi Christian

Ok, so when is that whole eMMC writing necessary?  Every time we want to write a RTEMS image on the eMMC?

Just wanted to know how we can make the normal software development process of overwriting the RTEMS image and the associated files as use friendly as possible (a chance of bricking is not so user friendly).  If its unavoidable we need to think internally about how we can make t

[2020-11-30 14:23] c-mauderer commented on #18
To update RTEMS you can replace a file in the FAT file system. I can currently think of three reasons for replacing the eMMC image:
1. Something bad happened to the file system. In that case maybe it's possible to re-write only a part with the boot loader. But I haven't tried something like that yet.
2. If you want to replace the boot loader.
3. If you want to re-partition the eMMC.

[2020-11-30 14:58] peerst commented on #18
So this eMMC image that you mentioned before which includes the bootloader is only necessary because the eMMC is not partitioned yet?

[2020-11-30 15:03] c-mauderer commented on #18
I'm quite sure that it had some partitions when I delivered it. Most likely @GalaxyGorilla wanted to either have different partitions (bigger ones?) or wanted to try every part of the README which is a good idea. It's quite clear now that we have to add a big warning sign to the README there ;-)

Yes, from my point of view, re-writing the whole eMMC shouldn't be the normal use case. We have to mak

[2020-11-30 15:06] peerst commented on #18
I agree that the whole process needs to be tested

[2020-11-30 15:12] GalaxyGorilla commented on #18
I just wanted to get an Erlang node running on the eMMC, that's all. And the README talks about writing images to the eMMC so I wanted to follow that path :). Sorry for the mess, I guess that qualifies me as DAU ("dümmster anzunehmender user") tester 😂 .

[2020-11-30 15:14] c-mauderer commented on #18
Not at all a problem. It shows that the README isn't clear enough. Do you want to extend it with your experiences or should I try to make it more clear?

[2020-11-30 15:17] GalaxyGorilla commented on #18
Don't worry, I'll provide a PR later after the board runs, you can check my changes then.

[2021-08-25 10:56] eproxus commented on #18
Some comments after testing with the latest hardware:

1. Booting from SD no longer works:
[code]
   This used to work before (with these exact files).
2. Should we prefer the SD card over the eMMC by default on the shipped boards? In 99% of the cases users will try to deploy new software to an SD card and not the eMMC, right?

[2021-08-25 12:15] peerst commented on #18
But then out of the box nothing would boot anymore since the initial image is on eMMC.

Can we have a boot sequence of first try SD and if nothing bootable there go to eMMC?

[2021-08-25 12:17] eproxus commented on #18
It would boot eMMC if booting from SD card fails.

[2021-08-25 12:53] eproxus commented on #18
@c-mauderer Regarding my comment (1): Have we downgraded Barebox from 2020.07 to 2019.01? Could this be the issue? See https://github.com/grisp/grisp2-rtems-toolchain/commit/b040537ca35ee52111aa67a789ad2f1de251f909#diff-2fa831a9501463be1c122c52104851b0d93e708323e08dd500918cadec2f359fL3-R3

[2021-08-25 13:07] c-mauderer commented on #18
I did not touch the barebox that is delivered by Phytec for this hardware. The custom barebox was necessary when we had an eMMC on the base board but with the eMMC on the module, we can use the official version.

Yes, that is an older version. But that shouldn't change the boot order. It's more likely that the default config of the Phytec Barebox has a boot order that starts with eMMC followed by

[2021-08-25 15:01] GalaxyGorilla commented on #18
@c-mauderer to understand this situation a bit more: you're using this old version from phytec because it's the latest recommended image they provide, right?

Can't we just test and use upstream barebox? Tinkering with this old version already gives us problems with boot specs that we did not have before. And 2019.01 is quite old by now anyway. Are there hard reasons why to stick to the recommende

[2021-09-21 13:07] GalaxyGorilla opened #26 "Use UL (not ULL) FDT"
FDT looks actually good, some renaming should be done.

[2021-09-22 12:22] GalaxyGorilla opened #28 "FDT attec608 wrong name and i2c address"

[2021-09-27 11:25] GalaxyGorilla opened #29 "I2C 0-based device naming"
Currently in the demo i2c0 is mapped to /dev/i2c-1 which looks quite odd.

[2021-09-27 15:15] eproxus commented on #29
In addition, the DTS contains the strings `i2c1` and `i2c2` but the code maps `i2c0` which is not present.

[2021-10-08 14:40] sylane opened #32 "On OSX the built GDB crashes"
When building the toolchain on OSX, the gdb binary crashes.

[2021-11-15 15:33] eproxus opened #34 "Unmounting SD card on GRiSP 2 results in error"
When un-plugging the SD card the GRiSP 2 prints the following error to the terminal:
[code]
SD mounting and un-mounting should work so that files on the SD card can be updated on a running system.

[2021-11-15 15:34] eproxus commented on #12
Closing because we don't have the issue anymore.

[2021-11-15 15:34] #12 closed

[2021-11-15 15:35] c-mauderer commented on #34
The libbsd currently doesn't support removal of an SD card. I had a look at that in the past for some other project and it would be a big change with a lot of effort. I don't think that we will find a quick solution for that.

[2021-11-15 15:36] eproxus commented on #18
Fixed in #25.

[2021-11-15 15:36] #18 closed

[2021-11-15 15:36] eproxus commented on #21
Solved and will be refined with #33.

[2021-11-15 15:36] #21 closed

[2021-11-15 15:37] eproxus commented on #26
Fixed in #27.

[2021-11-15 15:37] #26 closed

[2021-11-15 15:37] eproxus commented on #28
@GalaxyGorilla Is this still an issue?

[2021-11-15 15:41] GalaxyGorilla commented on #28
Fixed in e8d9f2e4022329231848410247c35f7cde92f9ca

[2021-11-15 15:41] #28 closed

[2021-11-15 15:45] eproxus commented on #29
We currently call `i2c_bus_register_imx("/dev/i2c-0", "i2c0")` and `i2c_bus_register_imx("/dev/i2c-1", "i2c1")` which *works*.

The demo calls it with different argument but doesn't actually test anything:
[code]

In the FDT only `i2c1` and `12c2` are defined.

@c-mauderer What aliases and paths are correct here?

[2021-11-15 15:51] GalaxyGorilla commented on #29
What does "works" here mean? Did we use `/dev/i2c-0` somewhere successfully? I can't remember that we did.

[2021-11-15 15:53] eproxus commented on #29
https://github.com/grisp/grisp/blob/master/src/grisp_ni2c.erl#L46-L53

Works as in "tested it and it actually works" 😄

[2021-11-15 15:54] eproxus commented on #29
I'm more concerned that we use the aliases `i2c0` and `i2c1` but "i2c0" is nowhere to be found in the FDT (does it even matter?).

[2021-11-15 16:01] GalaxyGorilla commented on #29
You just need to follow the includes in the fdt file: https://github.com/grisp/grisp2-rtems-toolchain/blob/master/fdt/imx6ul-grisp2.dts#L7

https://github.com/grisp/grisp2-rtems-toolchain/blob/master/external/fdt/sys/gnu/dts/arm/imx6ul.dtsi#L29

[2021-11-15 16:43] eproxus commented on #29
![](https://github.trello.services/images/mini-trello-icon.png) [Settle I2C bus device naming](https://trello.com/c/qO7A7aUn/55-settle-i2c-bus-device-naming)

[2021-11-22 16:40] #29 closed

[2021-11-23 14:44] eproxus commented on #32
@c-mauderer Any idea on how we can "persuade" the installer to use 10.1 or 10.2 for our toolchain?

[2021-11-24 08:05] c-mauderer commented on #32
Without testing it: I would expect that it is possible to backport the files from the current master of rtems source builder. A completely untested first try would be that one:

[0001-FIXME-Switch-to-gdb-10.patch.txt](https://github.com/grisp/grisp2-rtems-toolchain/files/7593790/0001-FIXME-Switch-to-gdb-10.patch.txt)

[2021-11-25 08:09] eproxus commented on #32
@c-mauderer Thanks! Just tried exactly those steps myself after trawling the `rtems-source-builder` repo for a while. 🙂

If we want to "upgrade" to GDB 10, what would be the correct way to modify our fork of `rtems-source-builder`. Create a branch of the current commit we're using and add your suggested changes?

[2021-11-25 08:10] eproxus opened #35 "GDB can't read compiled artifacts"
I'm trying to open a program compiled for either GRiSP 1 or 2, but always receive the same error:
[code]

We had this working sometime in the past, I think, but it was a long time since I tried it because GDB never worked on macOS.

@c-mauderer Any hints on what is wrong here?

[2021-11-25 09:00] c-mauderer commented on #32
Basically yes. We have a branch for RSB already because I added a patch that prefers python3. Currently it's called "cm/20210819_fix_python_dependency". You want to do a release now. So maybe some more official sounding name like "grisp2" would be better.

[2021-11-25 09:07] c-mauderer commented on #35
I'm not entirely sure what the "beam.smp" is. Is that a normal ELF file?
If I do a "file" on one of the executables in the demo, I get the following type information:
[code]

You are using a gdb 10.1 now. Did you try whether it works on Linux? Maybe compiling this gdb missed some options so that it can't read elf32-littlearm.

[2021-11-25 09:16] eproxus commented on #35
When we compile with the Erlang build system we get `beam.smp` as the executable and then we do run `objcopy` on that to get `beam` which is what we boot from on the board:
[code]

(The objcopy command is `arm-rtems5-objcopy -O binary beam.smp beam`)

[2021-11-25 09:17] eproxus commented on #35
@sylane Can you confirm this works on Linux?

[2021-11-25 09:19] eproxus commented on #35
@c-mauderer Here's the `beam.smp` binary itself if you want to try on Linux: [beam.smp.zip](https://github.com/grisp/grisp2-rtems-toolchain/files/7601672/beam.smp.zip)

[2021-11-25 09:47] eproxus commented on #32
Okay, I'll base a new `grisp2` branch on that branch, and add the upgrade to GDB 10 there. Currently we need to fix #35 before it makes sense to upgrade though. I assume GDB 10 has the same problem on Linux as well on macOS.

[2021-11-25 15:00] eproxus commented on #35
@c-mauderer Any hints on how to add these options?

[2021-11-25 15:04] c-mauderer commented on #35
Hm. Nothing obvious. When gdb-10 was added to RSB, there have been updates to gcc and binutils too. But I wouldn't expect these to have a big influence on gdb.

[2022-01-24 12:06] GalaxyGorilla opened #39 "GRiSP2 RTEMS demo in the initial image complains about EEPROM"
[code]

The EEPROM content is correct though!

[2022-01-24 12:20] GalaxyGorilla opened #40 "Some weird logs"
[code]

The formatting is off.

[code]

That needs to be parsed differently. The vers_major and _major (and maybe even the funny ass_var) contain more information than shown here.

[2022-01-24 12:36] c-mauderer commented on #39
Is this with an up to date libgrisp build?

[2022-01-24 12:38] GalaxyGorilla commented on #39
Very likely not. I assume you do the provisioning with the updated libgrisp version? Our Erlang code tells us that the EEPROM data is fine.

[2022-01-24 12:43] c-mauderer commented on #39
The provisioning should be done with commit 340ef569bf04e671f109d8aab4cde0418889a31a of libgrisp which is the one with EEPROM fix. All commits after that don't do anything with the EEPROM.

[2022-01-24 12:53] GalaxyGorilla commented on #39
@c-mauderer just for clarity: with this issue I don't want to make changes to how you do the provisioning.

The above logs are just something that cought my eye since we also have the demo on the emmc for debugging purposes. Since the user will re-flash the emmc partitions at some point for A/B updates (and therefore also the RTEMS demo) that's no problem in the long run.

[2022-01-24 13:16] c-mauderer commented on #39
I just tried it with an up to date binary of the demo and it seems that there is no problem decoding the EEPROM:

[code]

So I assume it's only the RTEMS application delivered with the initial image. If that is (more or less) a placeholder anyway, I would suggest not to change the image. It would only mean that we add a risk that we break something else in the process.

Should we change the title

[2022-01-24 13:17] c-mauderer commented on #39
Note: Maybe "mostly up to date image" would have been the better wording. For a clean binary, we would have to do a clean re-build of the complete toolchain. I just used what I had here.

[2022-01-24 13:19] GalaxyGorilla commented on #39
Ha thanks for testing, I was just about to do that myself.

100% agree with what you said above.

[2022-01-24 13:20] #39 closed

[2022-01-24 13:20] peerst commented on #39
Its more an extra gimmick which won't be used when we don't tell people about it